# {{ansible_managed}}
version: "{{ docker_compose_version }}"

# networks
networks:
  # linkycom overlay: all linkycom containers runs in this overlay, some of them also run into the Traefik one
  overlay_network:
    driver: overlay

# configs
configs:
  radiusd.conf:
    file: "{{ linkycom_local_deploy_dir }}/radius/radiusd.conf"
  radius_clients.conf:
    file: "{{ linkycom_local_deploy_dir }}/radius/clients.conf"
  radius_stats_status:
    file: "{{ linkycom_local_deploy_dir }}/radius/status"
  radius_linkycom-default:
    file: "{{ linkycom_local_deploy_dir }}/radius/linkycom-default"
  radius_linkycom-referential:
    file: "{{ linkycom_local_deploy_dir }}/radius/linkycom-referential"
  radius_authorize:
    file: "{{ linkycom_local_deploy_dir }}/radius/authorize"
  radius_linkycom-user-password:
    file: "{{ linkycom_local_deploy_dir }}/radius/linkycom-user-password"
  ticketing_application.properties:
    file: "{{ linkycom_local_deploy_dir }}/ticketing/application.properties"

services:
  # radius service
  {{ radius_service_name}}: 
    image: {{ radius_service_image }}
    environment:
      - "SERVICE_1812_IGNORE=true" # disable Registrator discovery
      - "SERVICE_1813_IGNORE=true" # disable Registrator discovery
      - "SERVICE_18121_IGNORE=true" # disable Registrator discovery
    deploy:
      placement:
        constraints:
          - node.role == worker
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    networks:
      - overlay_network
    volumes:
      - {{ radius_log_dir }}:/var/log/radius
    configs:
      - source: radiusd.conf
        target: /etc/raddb/radiusd.conf
      - source: radius_linkycom-default
        target: /etc/raddb/sites-enabled/linkycom-default
      - source: radius_stats_status
        target: /etc/raddb/sites-enabled/status
      - source: radius_linkycom-referential
        target: /etc/raddb/mods-enabled/linkycom-referential
      - source: radius_clients.conf
        target: /etc/raddb/clients.conf
      - source: radius_authorize
        target: /etc/raddb/mods-config/files/authorize
      - source: radius_linkycom-user-password
        target: /etc/raddb/policy.d/linkycom-user-password
  # ticketing
  # {{ ticketing_service_name }}:
  #   image: {{ ticketing_service_image }}
  #   environment:
  #     - "SERVICE_8080_IGNORE=true" # disable Registrator discovery
  #   deploy:
  #     mode: replicated
  #     replicas: {{ ticketing_service_replicas }}
  #     labels:
  #       - "traefik.enable=false"
  #     placement:
  #       constraints:
  #         - node.role == worker
  #   configs:
  #     - source: ticketing_application.properties
  #       target: /config/application.properties
  #   networks:
  #     - overlay_network
  
  # {{ referential_service_name }}:
  #   image: {{ referential_service_image }}
  #   environment:
  #     - "SERVICE_8080_IGNORE=true" # disable Registrator discovery
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     labels:
  #       - "traefik.enable=false"
  #     placement:
  #       constraints:
  #         - node.role == worker
  #   networks:
  #     - overlay_network
      