input {
  gelf {
		type => docker
		port => 12201
	}
}

filter {
  if [docker][image] =~ /logstash/ {
    drop { }
  }
}

output {
  udp { 
        host => "{{ graylog_service_name }}"
        port => 12201
        codec => json_lines {
                    delimiter => '\0'
                }
    }
}