# {{ansible_managed}}
version: "{{ docker_compose_version }}"

# networks
networks:
  # postgresql overlay: all monitoring containers runs in this overlay, some of them also run into the Traefik one
  {{ docker_postgresql_network_name }}:
    external: true
  # overlay where Traefik run where to put services that are exposed to the internet
  {{ docker_router_network_name }}:
    external: true
  monitoring_overlay_network:
    external: true

{% if use_docker_volume %}
volumes:
  {{ postgresql_volume_name }}:
    external: true
  {{ pgadmin_volume_name }}
    external: true
{% endif %}

services:
  #PostgreSQL
  {{ postgresql_service_name }}:
    image: {{ postgresql_service_image }}
    deploy:
      placement:
        constraints: [ node.role == manager ]
    volumes:
      - {% if use_docker_volume  %} {{ postgresql_volume_name }}:/var/lib/postgresql/data {% else %} {{ gluster_mount_dir }}/{{ postgresql_volume_name }}:/var/lib/postgresql/data {% endif %}

    networks:
      - {{ docker_postgresql_network_name }}
    environment:
      - "SERVICE_5432_IGNORE=true" # disable Registrator discovery
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_DB=postgres"

  # PGAdmin
  {{ pgadmin_service_name }}:
    image: {{ pgadmin_service_image }}
    command: python /usr/local/lib/python3.6/site-packages/pgadmin4/pgAdmin4.py
    deploy:
      placement:
        constraints: [ node.role == manager ]
      labels:
        - "traefik.frontend.rule=Host:pgadmin.{{ lcm_router_domain_name }}"
        - "traefik.enable=true"
        - "traefik.backend={{ pgadmin_service_name }}"
        - "traefik.port=5050"
        - "traefik.docker.network={{ docker_router_network_name }}"
    volumes:
      - {% if use_docker_volume  %} {{ pgadmin_volume_name }}:/data {% else %} {{ gluster_mount_dir }}/{{ pgadmin_volume_name }}:/data {% endif %}

    networks:
      - {{ docker_postgresql_network_name }}
      # needs a connection into the Traefik overlay to be accessed from the outside
      - {{ docker_router_network_name }}
    environment:
      - "SERVICE_5050_IGNORE=true" # disable Registrator discovery
      - "POSTGRES_HOST= {{ postgresql_service_name }}"
      - "SERVER_MODE=false"
      - "POSTGRES_DEFAULTDB=postgres"

  {{ postgres_exporter_service_name }}:
    image: {{ postgres_exporter_service_image }}
    deploy:
      placement:
        constraints: [ node.role == manager ]
      labels:
        - "traefik.enable=false"
    networks:
      - {{ docker_postgresql_network_name }}
      - monitoring_overlay_network
    environment:
      - "SERVICE_9187_IGNORE=true" # disable Registrator discovery
      - "DATA_SOURCE_URI={{ postgresql_service_name }}:5432/postgres?sslmode=disable"
      - "DATA_SOURCE_USER=postgres"
      - "DATA_SOURCE_PASS=postgres"
