# {{ ansible_managed }}
# Prometheus global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'monitoring'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules.yml"

alerting:
  alertmanagers:
  - dns_sd_configs:
    - names:
      - 'tasks.{{ alert_manager_service_name }}'
      type: 'A'
      port: 9093

scrape_configs:
  - job_name: 'prometheus'
    dns_sd_configs:
    - names:
      - 'tasks.{{ prometheus_service_name }}'
      type: 'A'
      port: 9090

  - job_name: 'traefik'
    dns_sd_configs:
    - names:
      - 'tasks.traefik'
      type: 'A'
      port: 8080

  - job_name: 'container-metrics'
    dns_sd_configs:
    - names:
      - 'tasks.{{ cadvisor_service_name}}'
      type: 'A'
      port: 8080

  - job_name: 'node-metrics'
    dns_sd_configs:
    - names:
      - 'tasks.{{ node_exporter_service_name}}'
      type: 'A'
      port: 9100

  - job_name: docker-engine-metrics
    static_configs:
     - targets: [{% set comma = joiner(",") %}{% for host in groups['lcm_swarm_hosts'] %}{{ comma() }}'{{ hostvars[host]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}:{{ docker_engine_metrics_port }}'{% endfor %}]

  - job_name: 'grafana'
    dns_sd_configs:
    - names:
      - 'tasks.{{ grafana_service_name }}'
      type: 'A'
      port: 3000

  - job_name: rabbitmq-metrics
    dns_sd_configs:
    - names:
      - 'tasks.{{ rabbitmq_exporter_service_name}}'
      type: 'A'
      port: 9090

  - job_name: postgresql-metrics
    dns_sd_configs:
    - names:
      - 'tasks.{{ postgres_exporter_service_name}}'
      type: 'A'
      port: 9187

  - job_name: fluentd
    static_configs:
     - targets: [{% set comma = joiner(",") %}{% for host in groups['lcm_swarm_hosts'] %}{{ comma() }}'{{ hostvars[host]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}:24231'{% endfor %}]
