# {{ansible_managed}}
version: "{{ docker_compose_version }}"

volumes:
  oracle:
    external:
      name: oracledb

services:
  {{ oracledb_service_name }}:
    image: {{ oracledb_service_image }}
    deploy:
      placement:
        constraints: [ node.role == manager ]
    volumes:
      - oracle:/u01/app/oracle/oradata/oracle11g-data/
    ports:
      - 49160:22
      - 49161:1521
      - 8085:8080
    environment:
      - "ORACLE_ALLOW_REMOTE=true"
      - "ORACLE_ENABLE_XDB=true"
      - "ORACLE_DISABLE_ASYNCH_IO=true"
      - "SERVICE_22_IGNORE=true" # disable Registrator discovery
      - "SERVICE_1521_IGNORE=true" # disable Registrator discovery
      - "SERVICE_8080_IGNORE=true" # disable Registrator discovery