
linkycom-user-password {

{% for client in ['sfr1', 'sfr2', 'bouygues1', 'bouygues2', 'orange1', 'orange2'] %}
{% if client in freeradius_clients %}
   if ( NAS-Identifier == "{{ freeradius_clients[client].nas_identifier }}" && ( <ipv4prefix>&NAS-IP-Address < {{ freeradius_clients[client].nas_ip_address }} || &NAS-IP-Address == {{ freeradius_clients[client].nas_ip_address }} ) ){
        update control {
            Cleartext-Password := "{{ freeradius_clients[client].concentrator_password }}"
        }
   }
{% endif %}
{% endfor %}

}
