# -*- text -*-
##
## clients.conf -- client configuration directives
##

#######################################################################
#
#  Define RADIUS clients (usually a NAS, Access Point, etc.).


{% for client, operator in {'sfr1':'SFR', 'sfr2':'SFR', 'bouygues1':'BYG', 'bouygues2':'BYG', 'orange1':'OBS', 'orange2':'OBS'}.iteritems() %}
{% if client in freeradius_clients %}

client {{ client }} {
        ipaddr = {{ freeradius_clients[client].client_ip_address }}
        netmask = {{ freeradius_clients[client].operator_ip_netmask }}
        proto = *
        secret = {{ freeradius_clients[client].shared_secret }}
        require_message_authenticator = no # default value for backward compatibility
        nas_type = other # default value for backward compatibility
        limit {
                max_connections = 16
                lifetime = 0
                idle_timeout = 30
        }

        Operator-Name = "{{ operator }}"
}

{% endif %}
{% endfor %}

# "Status Service" local client
client localhost {
        ipaddr = {{ freeradius_client_local.client_ip_address }}
        netmask = {{ freeradius_client_local.operator_ip_netmask }}
        proto = *
        secret = {{ freeradius_client_local.shared_secret }}
        require_message_authenticator = no # default value for backward compatibility
        nas_type = other # default value for backward compatibility
        limit {
                max_connections = 16
                lifetime = 0
                idle_timeout = 30
        }

        Operator-Name = "LOCAL"
}
