# {{ ansible_managed }}
# This file is sourced by /etc/init.d/rabbitmq-server. Its primary
# reason for existing is to allow adjustment of system limits for the
# rabbitmq-server process.
#
# Maximum number of open file handles. This will need to be increased
# to handle many simultaneous connections. Refer to the system
# documentation for ulimit (in man bash) for more information.
#
ulimit -n {{ rabbitmq_ulimit_open_files }}

ERL_EPMD_PORT={{ rabbitmq_epmd_port }}
RABBITMQ_NODE_PORT={{ rabbitmq_node_port }}

