defaultEntryPoints = ["http"]

logLevel = "INFO"

[entryPoints]
  [entryPoints.http]
  address = ":{{ traefik_http_entrypoint_port }}"


# Enable Docker configuration backend.
#[docker]
#endpoint = "unix:///var/run/docker.sock"
#domain = "{{ traefik_docker_domain }}"
#watch = true
#swarmmode = true
#exposedbydefault = false

# Enable Consul catalog configuration backend.
[consulCatalog] 
endpoint = "{{ current_server_ip }}:8500" 
domain = "{{ traefik_consul_catalog_domain }}" 
prefix = "traefik-consul"


#[web]
#address = ":{{ traefik_web_ui_port }}"

#[web.metrics.prometheus]
#  Buckets=[0.1,0.3,1.2,5.0]
  #[metrics]
  # To enable Traefik to export internal metrics to Prometheus
  #  [metrics.prometheus] 
    
[web.statistics]
  recentErrors = 25


