#####################################################################
#
#	Read "man radiusd" before editing this file.  See the section
#	titled DEBUGGING.  It outlines a method where you can quickly
#	obtain the configuration you want, without running into
#	trouble.  See also "man unlang", which documents the format
#	of this file.
#
#	The best way to configure the server for your local system
#	is to CAREFULLY edit this file.  Most attempts to make large
#	edits to this file will BREAK THE SERVER.  Any edits should
#	be small, and tested by running the server with "radiusd -X".
#	Once the edits have been verified to work, save a copy of these
#	configuration files somewhere.  (e.g. as a "tar" file).  Then,
#	make more edits, and test, as above.
#
######################################################################

server linkycom-default {
listen {
	type = auth
	ipaddr = *
	port = 1812

	limit {
	      #  Setting this to 0 means "no limit"
	      max_connections = 16
	      #  Setting this to 0 means "forever".
	      lifetime = 0
	      #  Setting this to 0 means "no timeout".
	      #  We STRONGLY RECOMMEND that you set an idle timeout.
	      idle_timeout = 30
	}
}

listen {
	ipaddr = *
	port = 1813
	type = acct

	limit {
	}
}

#  Authorization.
authorize {
	#  Take a User-Name, and perform some checks on it, for spaces and other
	#  invalid characters.  If the User-Name appears invalid, reject the
	#  request.
	#  See policy.d/filter for the definition of the filter_username policy.
	filter_username

	# Some carriers send the realm as part of the User-Name, we want to be able to ignore it.
	linkycom-strip-realm-in-username

	#  The preprocess module takes care of sanitizing some bizarre
	#  attributes in the request, and turning them into attributes
	#  which are more standard.
	#  It takes care of processing the 'mods-config/preprocess/hints' and the
	#  'mods-config/preprocess/huntgroups' files.
	preprocess

	#  Read the 'mods-config/files/authorize' file
	files

	# Set the Operator-Name attribute from clients.conf
	operator-name

	# Retrieves the Koncentrator Cleartext-Password to be checked against
	linkycom-user-password 

	# If the request is a CHAP request, set Auth-Type = CHAP
	chap

	# Set Auth-Type = PAP when no other Auth-Type is set
	pap

	# Log if backward-compatibility freeradius configuration is actually used
	# Intended to identify unused backward-compatibility configuration, if theses logs are empty
	if( &Framed-Protocol == PPP || &Framed-Protocol == SLIP || ( &Auth-Type != PAP && &Auth-Type != CHAP )) {
		linkycom-backward-compatibility-logging
	}
}


#  Authentication.
#
#  This section lists which modules are available for authentication.
#  Note that it does NOT mean 'try each module in order'.  It means
#  that a module from the 'authorize' section adds a configuration
#  attribute 'Auth-Type := FOO'.  That authentication type is then
#  used to pick the appropriate module from the list below.
#
#  In general, you SHOULD NOT set the Auth-Type attribute.  The server
#  will figure it out on its own, and will do the right thing.  The
#  most common side effect of erroneously setting the Auth-Type
#  attribute is that one authentication method will work, but the
#  others will not.
#
#  The common reasons to set the Auth-Type attribute by hand
#  is to either forcibly reject the user (Auth-Type := Reject),
#  or to or forcibly accept the user (Auth-Type := Accept).
#
#  Note that Auth-Type := Accept will NOT work with EAP.
#
#  Please do not put "unlang" configurations into the "authenticate"
#  section.  Put them in the "post-auth" section instead.  That's what
#  the post-auth section is for.
authenticate {

    # LinkyCom temporary allows PAP Authentication
	# since some concentrators cannot do CHAP Authentication.
	# LinkyCom will soon have to forfid PAP Authentication, and
	# will have to allow CHAP only (ie. by commenting out this block)
	Auth-Type PAP {
		pap
	}

	Auth-Type CHAP {
		chap
	}
}

#  Post-Authentication
#  Once we KNOW that the user has been authenticated, there are
#  additional steps we can take.
post-auth {

	redundant {
		# Retrieve the user's credentials in REFERENTIAL
		{{ referential_service_name }}
		# in case where "redundant-load-balance" failed
		linkycom-referential-failed
	}
	
	update control {
		# Use '=', not ':=' as we do not want to overwrite an existing value.
		LINKYCOM-Reject-Reason = Ok
	}

	# Adding static fields in reply
	linkycom-static-reply-fields

	if( &control:LINKYCOM-Reject-Reason && &control:LINKYCOM-Reject-Reason != Ok ) {
		fail
	}

	if( ! &reply:Framed-IP-Address || ! &reply:Framed-IP-Netmask ) {
		linkycom-missing-ip-to-reply
		fail
	}

    Post-Auth-Type REJECT {

        linkycom-user-rejected

        linkycom-ticketing-auth

        attr_filter.access_reject
    }

    linkycom-ticketing-auth
}


#  Pre-accounting.  Decide which accounting type to use.
preacct {
	preprocess

	#  Ensure that we have a semi-unique identifier for every
	#  request, and many NAS boxes are broken.
	acct_unique
	
	# Set the Operator-Name attribute from clients.conf
	operator-name
}

#  Accounting.  Log the accounting data.
accounting {
	# Some carriers send the realm as part of the User-Name, we want to be able to ignore it.
	linkycom-strip-realm-in-username

	# Define new Attribute Lower-Acct-Status-Type
	linkycom-lower-acct-status-type

	if( &Acct-Session-Id && &Framed-IP-Address && &User-Name ) {

		redundant {
			# Transmit Accounting-Request to REFERENTIAL
			{{ referential_service_name }}
			# in case where "redundant-load-balance" failed
			linkycom-referential-failed
		}
	} else {
		linkycom-bad-request
	}

	# Adding static fields in reply
	linkycom-static-reply-fields

	# Create a RADIUS ticket
	linkycom-ticketing-acct

	#  Filter attributes from the accounting response.
	attr_filter.accounting_response
}

}
