#
# 	Configuration file for the rlm_files module.
# 	Please see rlm_files(5) manpage for more information.
#
# 	This file contains authentication security and configuration
#	information for each user.  Accounting requests are NOT processed
#	through this file.  Instead, see 'accounting', in this directory.
#
#	The first field is the user's name and can be up to
#	253 characters in length.  This is followed (on the same line) with
#	the list of authentication requirements for that user.  This can
#	include password, comm server name, comm server port number, protocol
#	type (perhaps set by the "hints" file), and huntgroup name (set by
#	the "huntgroups" file).
#
#	If you are not sure why a particular reply is being sent by the
#	server, then run the server in debugging mode (radiusd -X), and
#	you will see which entries in this file are matched.
#
#	When an authentication request is received from the comm server,
#	these values are tested. Only the first match is used unless the
#	"Fall-Through" variable is set to "Yes".
#
#	A special user named "DEFAULT" matches on all usernames.
#	You can have several DEFAULT entries. All entries are processed
#	in the order they appear in this file. The first entry that
#	matches the login-request will stop processing unless you use
#	the Fall-Through variable.
#
#	Indented (with the tab character) lines following the first
#	line indicate the configuration values to be passed back to
#	the comm server to allow the initiation of a user session.
#	This can include things like the PPP configuration values
#	or the host to log the user onto.
#
#	You can include another `users' file with `$INCLUDE users.other'

#
#	For a list of RADIUS attributes, and links to their definitions,
#	see: http://www.freeradius.org/rfc/attributes.html
#

#
# Radius static users for test
#
{% for client in freeradius_clients %}
{% if 'users' in freeradius_clients[client] %}
{% for user in freeradius_clients[client].users %}
{{ user.login }}   NAS-Identifier=="{{freeradius_clients[client].nas_identifier}}", Cleartext-Password := "{{ user.password }}"
   Fall-Through = Yes
{% endfor %}

{% endif %}
{% endfor %}

{% for client in ['sfr1', 'sfr2'] %}
{% if client in freeradius_clients %}
DEFAULT NAS-Identifier == "{{ freeradius_clients[client].nas_identifier }}"
    Ascend-Client-Primary-DNS := {{ freeradius_dns_primary }},
    Ascend-Client-Secondary-DNS := {{ freeradius_dns_secondary }},
    Framed-IP-Netmask := {{ freeradius_clients[client].operator_ip_netmask }}

{% endif %}
{% endfor %}
{% for client in ['bouygues1', 'bouygues2', 'orange1', 'orange2'] %}
{% if client in freeradius_clients | default({}) %}
DEFAULT NAS-Identifier == "{{ freeradius_clients[client].nas_identifier }}"
    MS-Primary-DNS-Server := {{ freeradius_dns_primary }},
    MS-Secondary-DNS-Server := {{ freeradius_dns_secondary }},
    Framed-IP-Netmask := {{ freeradius_clients[client].operator_ip_netmask }}

{% endif %}
{% endfor %}

#
# BELOW THIS LINE IS DEFAULT CONFIGURATION - FOR BACKWARD COMPATIBILY WITH LEGACY LINKYCOM
#

#
# Sample defaults for all framed connections.
#
DEFAULT	Service-Type == Framed-User
	Framed-IP-Address = 255.255.255.254,
	Framed-MTU = 576,
	Service-Type = Framed-User,
	Fall-Through = Yes

#
# Default for PPP: dynamic IP address, PPP mode, VJ-compression.
# NOTE: we do not use Hint = "PPP", since PPP might also be auto-detected
#	by the terminal server in which case there may not be a "P" suffix.
#	The terminal server sends "Framed-Protocol = PPP" for auto PPP.
#
DEFAULT	Framed-Protocol == PPP
	Framed-Protocol = PPP,
	Framed-Compression = Van-Jacobson-TCP-IP

#
# Default for CSLIP: dynamic IP address, SLIP mode, VJ-compression.
#
DEFAULT	Hint == "CSLIP"
	Framed-Protocol = SLIP,
	Framed-Compression = Van-Jacobson-TCP-IP

#
# Default for SLIP: dynamic IP address, SLIP mode.
#
DEFAULT	Hint == "SLIP"
	Framed-Protocol = SLIP

# On no match, the user is denied access.
