# {{ansible_managed}}
version: "{{ docker_compose_version }}"

# configs
configs:
  fluent.conf:
    file: "{{ logging_local_deploy_dir }}/fluent.conf"
  graylog.conf:
    file: "{{ logging_local_deploy_dir }}/graylog.conf"
  log4j2.xml:
    file: "{{ logging_local_deploy_dir }}/log4j2.xml"
  lcm-graylog-content-pack.json:
    file: "{{ logging_local_deploy_dir }}/lcm-graylog-content-pack.json"

services:
  {{ graylog_es_service_name}}:
    image: {{ graylog_es_service_image }}
    command: elasticsearch
    environment:
      cluster.name: graylog
      SERVICE_9200_IGNORE: 'true'
      SERVICE_9300_IGNORE: 'true'
      #xpack.security.enabled: 'false'
      ES_JAVA_OPTS: "-Xms512m -Xmx512m -XX:-AssumeMP"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          memory: 1g
    volumes:
      - {% if use_docker_volume  %} {{ graylog_es_volume_name }}:/usr/share/elasticsearch/data {% else %} {{ gluster_mount_dir }}/{{ graylog_es_volume_name }}:/usr/share/elasticsearch/data {% endif %}

    networks:
      - overlay_network

  {{ graylog_mongodb_service_name}}:
    image: {{ graylog_mongodb_service_image }}
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    environment:
      SERVICE_27017_IGNORE: 'true'
    volumes:
      - {% if use_docker_volume  %} {{ graylog_mongodb_volume_name }}:/data/db {% else %} {{ gluster_mount_dir }}/{{ graylog_mongodb_volume_name }}:/data/db {% endif %}

    networks:
      - overlay_network

  {{ graylog_service_name }}:
    image: {{ graylog_service_image }}
    entrypoint: "/graylog-entrypoint.sh"
    command: graylog
    depends_on:
      - {{ graylog_mongodb_service_name}}
      - {{ graylog_es_service_name}}
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.backend={{ graylog_service_name }}"
        - "traefik.docker.network={{ docker_router_network_name }}"
        - "traefik.{{ graylog_service_name }}.port=9000"
        - "traefik.frontend.rule=Host:{{ graylog_service_name }}.{{ lcm_router_domain_name }}"
    environment:
      SERVICE_9000_NAME: graylog # Consul service name
      SERVICE_12201_IGNORE: 'true'
      SERVICE_9000_IGNORE: 'true' # disable Registrator discovery
    configs:
      - source: graylog.conf
        target: /graylog.conf
        uid: '1100'
        gid: '1100'
        mode: 0770
      - source: log4j2.xml
        target: /log4j2.xml
        uid: '1100'
        gid: '1100'
        mode: 0770
      - source: lcm-graylog-content-pack.json
        target: /contentpacks/lcm-graylog-content-pack.json
        uid: '1100'
        gid: '1100'
        mode: 0770
    volumes:
      - {% if use_docker_volume  %} {{ graylog_journal_volume_name }}:/usr/share/graylog/data/journal {% else %} {{ gluster_mount_dir }}/{{ graylog_journal_volume_name }}:/usr/share/graylog/data/journal {% endif %}
      
      - "{{ logging_local_deploy_dir }}/graylog-entrypoint.sh:/graylog-entrypoint.sh" # TODO change this uggly stuff
    networks:
      - overlay_network
      - {{ docker_router_network_name }}
  # {{ logstash_service_name }}:
  #   image: {{ logstash_service_image }}
  #   hostname: {% raw %}'{{.Node.Hostname}}'{% endraw %}

  #   deploy:
  #     mode: global
  #   environment:
  #     - "SERVICE_12201_IGNORE=true" # disable Registrator discovery
  #     - "SERVICE_5044_IGNORE=true"
  #     - "SERVICE_9600_IGNORE=true"
  #   ports: 
  #     - "12201:12201" 
  #     - "12201:12201/udp"
  #   volumes:
  #     - "{{ logstash_config_base_directory }}/pipelines:/usr/share/logstash/pipeline"
  #     - "{{ logstash_config_base_directory }}/config/logstash.yml:/usr/share/logstash/config/logstash.yml"
  #   networks:
  #     - overlay_network
  #   logging:
  #     driver: json-file
  {{ fluentd_service_name }}:
    image: {{ fluentd_service_image }}
    command: /usr/bin/fluentd -v
    entrypoint:
      - /bin/sh
      - -c
    hostname: {% raw %}'{{.Node.Hostname}}'{% endraw %}

    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.25'
          memory: 128M
        reservations:
          memory: 64M
    environment:
      - "SERVICE_24284_IGNORE=true" # disable Registrator discovery
      - "SERVICE_24231_IGNORE=true"
      - "SERVICE_24224_IGNORE=true"
      - "SERVICE_5140_IGNORE=true"
    ports: 
      - "24284:24284"
      - "24231:24231"
      - "24224:24224"
      - "5140:5140"
    configs:
      - source: fluent.conf
        target: /etc/fluent/fluent.conf
    volumes:
      - "/var/lib/docker/containers:/var/lib/docker/containers"
      - "/var/log:/var/log"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - overlay_network
    logging:
      driver: json-file
networks:
  overlay_network:
    driver: overlay
  {{ docker_router_network_name }}:
    external: true
{% if use_docker_volume %}
volumes:
  {{ graylog_mongodb_volume_name }}:
    external: true
  {{ graylog_es_volume_name }}:
    external: true
  {{ graylog_journal_volume_name }}:
    external: true
{% endif %}
