{
  "enabled": true,
  "system_username": "cn=admin,dc=linkycom,dc=local",
  "system_password": "{{ open_ldap_password }}",
  "ldap_uri": "ldap://192.168.77.20:389/",
  "use_start_tls": false,
  "trust_all_certificates": true,
  "active_directory": false,
  "search_base": "ou=users,dc=linkycom,dc=local",
  "search_pattern": "(&(objectClass=inetOrgPerson)(uid={0}))",
  "display_name_attribute": "cn",
  "default_group": "Reader",
  "group_mapping": {
    "500": "Viewer",
    "501": "Writter",
    "502": "Viewer",
    "503": "Writter",
    "rec": "Reader",
    "system": "Admin",
    "dev": "Reader",
    "po": "Reader"
  },
  "group_search_base": "ou=usersGroups,dc=linkycom,dc=local",
  "group_id_attribute": "gidnumber",
  "additional_default_groups": [],
  "group_search_pattern": "(objectClass=posixGroup)"
}