{
   "name":"LinkyCom graylog content pack",
   "description":"Quick content pack for LinkyCom",
   "category":"LCM, SWARM",
   "inputs":[
      {
         "id":"000000000000000000000002",
         "title":"FluentdGelfAMQP",
         "configuration":{
            "heartbeat":60,
            "prefetch":100,
            "exchange_bind":false,
            "broker_vhost":"/",
            "broker_username":"admin",
            "decompress_size_limit":8388608,
            "broker_port":5672,
            "parallel_queues":1,
            "broker_password":"admin",
            "throttling_allowed":false,
            "exchange":"platform.E.Direct.logging",
            "tls":false,
            "override_source":null,
            "routing_key":"fluentd",
            "requeue_invalid_messages":true,
            "broker_hostname":"{{ hostvars[groups['lcm_rabbitmq_hosts'][0]]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}",
            "queue":"logging.Q.fluentd"
         },
         "static_fields":{

         },
         "type":"org.graylog2.inputs.gelf.amqp.GELFAMQPInput",
         "global":true,
         "extractors":[
            {
               "title":"loglevel-extractor",
               "type":"GROK",
               "cursor_strategy":"COPY",
               "target_field":"",
               "source_field":"message",
               "configuration":{
                  "grok_pattern":"%{LOGLEVEL}",
                  "named_captures_only":false
               },
               "converters":[

               ],
               "condition_type":"NONE",
               "condition_value":"",
               "order":0
            }
         ]
      }
   ],
   "streams":[
      {
         "id":"000000000000000000000003",
         "title":"lcm-logging",
         "description":"logging docker stack",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_stack_name",
               "value":"logging",
               "inverted":false,
               "description":"LCM logging stack logs"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000004",
         "title":"lcm-radius",
         "description":"Linkycom Radius logs",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_service_name",
               "value":"linkycom_radius",
               "inverted":false,
               "description":"Only linkycom radius logs"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000005",
         "title":"lcm-apps",
         "description":"linkycom applications docker stack",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_stack_name",
               "value":"linkycom",
               "inverted":false,
               "description":"All linkycom stack applications"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000006",
         "title":"lcm-monitoring",
         "description":"monitoring docker stack",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_stack_name",
               "value":"monitoring",
               "inverted":false,
               "description":"Lcm monitoring stack logs"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000007",
         "title":"lcm-ticketing",
         "description":"lcm ticketing logs stream",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_service_name",
               "value":"linkycom_ticketing",
               "inverted":false,
               "description":"Only linkycom ticketing logs"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000001",
         "title":"All messages",
         "description":"Stream containing all messages",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[

         ],
         "outputs":[

         ],
         "default_stream":true
      },
      {
         "id":"000000000000000000000008",
         "title":"lcm-referential",
         "description":"Referential logs from lcm",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_service_name",
               "value":"linkycom_referential",
               "inverted":false,
               "description":"Only linkycom referential logs"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      },
      {
         "id":"000000000000000000000009",
         "title":"lcm-traefik",
         "description":"Traefik logs from lcm",
         "disabled":false,
         "matching_type":"AND",
         "stream_rules":[
            {
               "type":"EXACT",
               "field":"docker_swarm_stack_name",
               "value":"traefik",
               "inverted":false,
               "description":"traefik log from docker swarm"
            }
         ],
         "outputs":[

         ],
         "default_stream":false
      }
   ],
   "outputs":[

   ],
   "dashboards":[
      {
         "title":"LCM Overview Dashboard",
         "description":"Global Overview",
         "dashboard_widgets":[
            {
               "description":"Traefik log level repartition",
               "type":"QUICKVALUES",
               "cache_time":10,
               "configuration":{
                  "timerange":{
                     "type":"relative",
                     "range":300
                  },
                  "field":"LOGLEVEL",
                  "stream_id":"000000000000000000000009",
                  "query":"",
                  "show_data_table":true,
                  "limit":5,
                  "show_pie_chart":true,
                  "sort_order":"desc",
                  "stacked_fields":"",
                  "data_table_limit":50
               },
               "col":2,
               "row":1,
               "height":3,
               "width":1
            },
            {
               "description":"LCM logging stack log service repartition",
               "type":"QUICKVALUES",
               "cache_time":10,
               "configuration":{
                  "timerange":{
                     "type":"relative",
                     "range":300
                  },
                  "field":"docker_swarm_service_name",
                  "stream_id":"000000000000000000000003",
                  "query":"",
                  "show_data_table":true,
                  "limit":5,
                  "show_pie_chart":true,
                  "sort_order":"desc",
                  "stacked_fields":"",
                  "data_table_limit":50
               },
               "col":1,
               "row":1,
               "height":3,
               "width":1
            }
         ]
      }
   ],
   "grok_patterns":[
      {
         "name":"HTTPDUSER",
         "pattern":"%{EMAILADDRESS}|%{USER}"
      },
      {
         "name":"IPV6",
         "pattern":"((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:)))(%.+)?"
      },
      {
         "name":"PATH",
         "pattern":"(?:%{UNIXPATH}|%{WINPATH})"
      },
      {
         "name":"CISCOMAC",
         "pattern":"(?:(?:[A-Fa-f0-9]{4}\\.){2}[A-Fa-f0-9]{4})"
      },
      {
         "name":"DATESTAMP_EVENTLOG",
         "pattern":"%{YEAR}%{MONTHNUM2}%{MONTHDAY}%{HOUR}%{MINUTE}%{SECOND}"
      },
      {
         "name":"USER",
         "pattern":"%{USERNAME}"
      },
      {
         "name":"IPV4",
         "pattern":"(?<![0-9])(?:(?:[0-1]?[0-9]{1,2}|2[0-4][0-9]|25[0-5])[.](?:[0-1]?[0-9]{1,2}|2[0-4][0-9]|25[0-5])[.](?:[0-1]?[0-9]{1,2}|2[0-4][0-9]|25[0-5])[.](?:[0-1]?[0-9]{1,2}|2[0-4][0-9]|25[0-5]))(?![0-9])"
      },
      {
         "name":"PROG",
         "pattern":"[\\x21-\\x5a\\x5c\\x5e-\\x7e]+"
      },
      {
         "name":"TIMESTAMP_ISO8601",
         "pattern":"%{YEAR}-%{MONTHNUM}-%{MONTHDAY}[T ]%{HOUR}:?%{MINUTE}(?::?%{SECOND})?%{ISO8601_TIMEZONE}?"
      },
      {
         "name":"EMAILLOCALPART",
         "pattern":"[a-zA-Z][a-zA-Z0-9_.+-=:]+"
      },
      {
         "name":"QUOTEDSTRING",
         "pattern":"(?>(?<!\\\\)(?>\"(?>\\\\.|[^\\\\\"]+)+\"|\"\"|(?>'(?>\\\\.|[^\\\\']+)+')|''|(?>`(?>\\\\.|[^\\\\`]+)+`)|``))"
      },
      {
         "name":"UNIXPATH",
         "pattern":"(/([\\w_%!$@:.,~-]+|\\\\.)*)+"
      },
      {
         "name":"DATE",
         "pattern":"%{DATE_US}|%{DATE_EU}"
      },
      {
         "name":"DATE_US",
         "pattern":"%{MONTHNUM}[/-]%{MONTHDAY}[/-]%{YEAR}"
      },
      {
         "name":"DATESTAMP_OTHER",
         "pattern":"%{DAY} %{MONTH} %{MONTHDAY} %{TIME} %{TZ} %{YEAR}"
      },
      {
         "name":"URIHOST",
         "pattern":"%{IPORHOST}(?::%{POSINT:port})?"
      },
      {
         "name":"EMAILADDRESS",
         "pattern":"%{EMAILLOCALPART}@%{HOSTNAME}"
      },
      {
         "name":"URIPARAM",
         "pattern":"\\?[A-Za-z0-9$.+!*'|(){},~@#%&/=:;_?\\-\\[\\]<>]*"
      },
      {
         "name":"USERNAME",
         "pattern":"[a-zA-Z0-9._-]+"
      },
      {
         "name":"GREEDYDATA",
         "pattern":".*"
      },
      {
         "name":"MINUTE",
         "pattern":"(?:[0-5][0-9])"
      },
      {
         "name":"ISO8601_SECOND",
         "pattern":"(?:%{SECOND}|60)"
      },
      {
         "name":"TZ",
         "pattern":"(?:[PMCE][SD]T|UTC)"
      },
      {
         "name":"DATESTAMP",
         "pattern":"%{DATE}[- ]%{TIME}"
      },
      {
         "name":"DATESTAMP_RFC2822",
         "pattern":"%{DAY}, %{MONTHDAY} %{MONTH} %{YEAR} %{TIME} %{ISO8601_TIMEZONE}"
      },
      {
         "name":"HTTPD24_ERRORLOG",
         "pattern":"\\[%{HTTPDERROR_DATE:timestamp}\\] \\[%{WORD:module}:%{LOGLEVEL:loglevel}\\] \\[pid %{POSINT:pid}:tid %{NUMBER:tid}\\]( \\(%{POSINT:proxy_errorcode}\\)%{DATA:proxy_errormessage}:)?( \\[client %{IPORHOST:client}:%{POSINT:clientport}\\])? %{DATA:errorcode}: %{GREEDYDATA:message}"
      },
      {
         "name":"URIPATH",
         "pattern":"(?:/[A-Za-z0-9$.+!*'(){},~:;=@#%_\\-]*)+"
      },
      {
         "name":"HOUR",
         "pattern":"(?:2[0123]|[01]?[0-9])"
      },
      {
         "name":"IP",
         "pattern":"(?:%{IPV6}|%{IPV4})"
      },
      {
         "name":"HOSTPORT",
         "pattern":"%{IPORHOST}:%{POSINT}"
      },
      {
         "name":"POSINT",
         "pattern":"\\b(?:[1-9][0-9]*)\\b"
      },
      {
         "name":"HTTPD20_ERRORLOG",
         "pattern":"\\[%{HTTPDERROR_DATE:timestamp}\\] \\[%{LOGLEVEL:loglevel}\\] (?:\\[client %{IPORHOST:clientip}\\] ){0,1}%{GREEDYDATA:errormsg}"
      },
      {
         "name":"MONTHNUM2",
         "pattern":"(?:0[1-9]|1[0-2])"
      },
      {
         "name":"URIPROTO",
         "pattern":"[A-Za-z]+(\\+[A-Za-z+]+)?"
      },
      {
         "name":"COMMONAPACHELOG",
         "pattern":"%{IPORHOST:clientip} %{HTTPDUSER:ident} %{USER:auth} \\[%{HTTPDATE:timestamp}\\] \"(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|%{DATA:rawrequest})\" %{NUMBER:response} (?:%{NUMBER:bytes}|-)"
      },
      {
         "name":"WORD",
         "pattern":"\\b\\w+\\b"
      },
      {
         "name":"QS",
         "pattern":"%{QUOTEDSTRING}"
      },
      {
         "name":"URI",
         "pattern":"%{URIPROTO}://(?:%{USER}(?::[^@]*)?@)?(?:%{URIHOST})?(?:%{URIPATHPARAM})?"
      },
      {
         "name":"TTY",
         "pattern":"(?:/dev/(pts|tty([pq])?)(\\w+)?/?(?:[0-9]+))"
      },
      {
         "name":"DATE_EU",
         "pattern":"%{MONTHDAY}[./-]%{MONTHNUM}[./-]%{YEAR}"
      },
      {
         "name":"SYSLOGFACILITY",
         "pattern":"<%{NONNEGINT:facility}.%{NONNEGINT:priority}>"
      },
      {
         "name":"BASE16FLOAT",
         "pattern":"\\b(?<![0-9A-Fa-f.])(?:[+-]?(?:0x)?(?:(?:[0-9A-Fa-f]+(?:\\.[0-9A-Fa-f]*)?)|(?:\\.[0-9A-Fa-f]+)))\\b"
      },
      {
         "name":"SYSLOGTIMESTAMP",
         "pattern":"%{MONTH} +%{MONTHDAY} %{TIME}"
      },
      {
         "name":"NOTSPACE",
         "pattern":"\\S+"
      },
      {
         "name":"BASE16NUM",
         "pattern":"(?<![0-9A-Fa-f])(?:[+-]?(?:0x)?(?:[0-9A-Fa-f]+))"
      },
      {
         "name":"MONTH",
         "pattern":"\\b(?:Jan(?:uary|uar)?|Feb(?:ruary|ruar)?|M(?:a|ä)?r(?:ch|z)?|Apr(?:il)?|Ma(?:y|i)?|Jun(?:e|i)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|O(?:c|k)?t(?:ober)?|Nov(?:ember)?|De(?:c|z)(?:ember)?)\\b"
      },
      {
         "name":"SYSLOGBASE",
         "pattern":"%{SYSLOGTIMESTAMP:timestamp} (?:%{SYSLOGFACILITY} )?%{SYSLOGHOST:logsource} %{SYSLOGPROG}:"
      },
      {
         "name":"HOSTNAME",
         "pattern":"\\b(?:[0-9A-Za-z][0-9A-Za-z-]{0,62})(?:\\.(?:[0-9A-Za-z][0-9A-Za-z-]{0,62}))*(\\.?|\\b)"
      },
      {
         "name":"NONNEGINT",
         "pattern":"\\b(?:[0-9]+)\\b"
      },
      {
         "name":"DATA",
         "pattern":".*?"
      },
      {
         "name":"MONTHNUM",
         "pattern":"(?:0?[1-9]|1[0-2])"
      },
      {
         "name":"WINDOWSMAC",
         "pattern":"(?:(?:[A-Fa-f0-9]{2}-){5}[A-Fa-f0-9]{2})"
      },
      {
         "name":"HTTPDERROR_DATE",
         "pattern":"%{DAY} %{MONTH} %{MONTHDAY} %{TIME} %{YEAR}"
      },
      {
         "name":"HTTPDATE",
         "pattern":"%{MONTHDAY}/%{MONTH}/%{YEAR}:%{TIME} %{INT}"
      },
      {
         "name":"LOGLEVEL",
         "pattern":"([Aa]lert|ALERT|[Tt]race|TRACE|[Dd]ebug|DEBUG|[Nn]otice|NOTICE|[Ii]nfo|INFO|[Ww]arn?(?:ing)?|WARN?(?:ING)?|[Ee]rr?(?:or)?|ERR?(?:OR)?|[Cc]rit?(?:ical)?|CRIT?(?:ICAL)?|[Ff]atal|FATAL|[Ss]evere|SEVERE|EMERG(?:ENCY)?|[Ee]merg(?:ency)?)"
      },
      {
         "name":"DAY",
         "pattern":"(?:Mon(?:day)?|Tue(?:sday)?|Wed(?:nesday)?|Thu(?:rsday)?|Fri(?:day)?|Sat(?:urday)?|Sun(?:day)?)"
      },
      {
         "name":"WINPATH",
         "pattern":"(?>[A-Za-z]+:|\\\\)(?:\\\\[^\\\\?*]*)+"
      },
      {
         "name":"DATESTAMP_RFC822",
         "pattern":"%{DAY} %{MONTH} %{MONTHDAY} %{YEAR} %{TIME} %{TZ}"
      },
      {
         "name":"MAC",
         "pattern":"(?:%{CISCOMAC}|%{WINDOWSMAC}|%{COMMONMAC})"
      },
      {
         "name":"IPORHOST",
         "pattern":"(?:%{IP}|%{HOSTNAME})"
      },
      {
         "name":"HTTPD_ERRORLOG",
         "pattern":"%{HTTPD20_ERRORLOG}|%{HTTPD24_ERRORLOG}"
      },
      {
         "name":"SPACE",
         "pattern":"\\s*"
      },
      {
         "name":"URIPATHPARAM",
         "pattern":"%{URIPATH}(?:%{URIPARAM})?"
      },
      {
         "name":"COMMONMAC",
         "pattern":"(?:(?:[A-Fa-f0-9]{2}:){5}[A-Fa-f0-9]{2})"
      },
      {
         "name":"BASE10NUM",
         "pattern":"(?<![0-9.+-])(?>[+-]?(?:(?:[0-9]+(?:\\.[0-9]+)?)|(?:\\.[0-9]+)))"
      },
      {
         "name":"UUID",
         "pattern":"[A-Fa-f0-9]{8}-(?:[A-Fa-f0-9]{4}-){3}[A-Fa-f0-9]{12}"
      },
      {
         "name":"ISO8601_TIMEZONE",
         "pattern":"(?:Z|[+-]%{HOUR}(?::?%{MINUTE}))"
      },
      {
         "name":"YEAR",
         "pattern":"(?>\\d\\d){1,2}"
      },
      {
         "name":"INT",
         "pattern":"(?:[+-]?(?:[0-9]+))"
      },
      {
         "name":"MONTHDAY",
         "pattern":"(?:(?:0[1-9])|(?:[12][0-9])|(?:3[01])|[1-9])"
      },
      {
         "name":"SYSLOGHOST",
         "pattern":"%{IPORHOST}"
      },
      {
         "name":"SECOND",
         "pattern":"(?:(?:[0-5]?[0-9]|60)(?:[:.,][0-9]+)?)"
      },
      {
         "name":"TIME",
         "pattern":"(?!<[0-9])%{HOUR}:%{MINUTE}(?::%{SECOND})(?![0-9])"
      },
      {
         "name":"COMBINEDAPACHELOG",
         "pattern":"%{COMMONAPACHELOG} %{QS:referrer} %{QS:agent}"
      },
      {
         "name":"NUMBER",
         "pattern":"(?:%{BASE10NUM})"
      },
      {
         "name":"SYSLOGPROG",
         "pattern":"%{PROG:program}(?:\\[%{POSINT:pid}\\])?"
      }
   ],
   "lookup_tables":[
      
   ],
   "lookup_caches":[

   ],
   "lookup_data_adapters":[

   ]
}