<source>
  @type prometheus
</source>

<filter docker.var.lib.docker.containers.*.*.log,radius.var.log.radius.*.log>
  @type prometheus
  <labels>
    tag ${tag}
    hostname ${hostname}
  </labels>
</filter>

<source>
  @type monitor_agent
</source>

# input plugin that collects metrics from MonitorAgent
<source>
  @type prometheus_monitor
  <labels>
    host ${hostname}
  </labels>
</source>

# input plugin that collects metrics for output plugin
<source>
  @type prometheus_output_monitor
  <labels>
    host ${hostname}
  </labels>
</source>

# input plugin that collects metrics for in_tail plugin
<source>
  @type prometheus_tail_monitor
  <labels>
    host ${hostname}
  </labels>
</source>

<source>
  @type tail
  path /var/lib/docker/containers/*/*-json.log
  pos_file /var/log/fluentd/fluentd-docker.pos
  time_format %Y-%m-%dT%H:%M:%S 
  tag docker.*
  read_from_head true
  format json
</source>

<filter docker.var.lib.docker.containers.*.*.log>
  @type docker_metadata
</filter>


# filter out malformed log
<filter docker.var.lib.docker.containers.*.*.lo>
  @type grep
  <exclude>
    key log
    pattern ^\\+$
  </exclude>
</filter>

# Using filter to add docker container infos to each event
<filter docker.var.lib.docker.containers.*.*.log>
  @type record_transformer
  renew_record true
  enable_ruby true
  <record>
    version '1.1'
    host ${hostname}
    short_message ${record['log'] || 'n.a'}
    _msg ${record['log'] || 'n.a'}
    full_message ${record['log']}
    _container_id ${record['docker']['id']}
    _container_name ${record['docker']['name']}
    _container_image ${record['docker']['image']}
    _docker_swarm_stack_name ${record['docker']['labels']['com.docker.stack.namespace']}
    _docker_swarm_service_name ${record['docker']['labels']['com.docker.swarm.service.name']}
  </record>
</filter>

<match docker.var.lib.docker.containers.*.*.log>
   @type copy
   <store>
      @type amqp
      key fluentd
      exchange platform.E.Direct.logging
      hosts [{% set comma = joiner(",") %}{% for host in groups['lcm_rabbitmq_hosts'] %}{{ comma() }}"{{ hostvars[host]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}"{% endfor %}]
      port 5672
      durable true
      vhost /
      user admin
      pass admin
      content_type application/json
   </store>
   #<store>
   #  @type stdout
   #</store>
</match>

<source>
  @type tail
  path /var/log/radius/*.log
  pos_file /var/log/fluentd/fluentd-radius.pos
  time_format %Y-%m-%dT%H:%M:%S 
  tag radius.*
  read_from_head true
  format none
</source>

<filter radius.var.log.radius.*.log>
  @type record_transformer
  enable_ruby true
  <record>
    version '1.1'
    host ${hostname}
    short_message ${record['message'] || 'n.a'}
    _msg ${record['message'] || 'n.a'}
    full_message ${record['message']}
    source_file ${tag_parts[4]}
    _docker_swarm_stack_name linkycom
    _docker_swarm_service_name linkycom_radius
  </record>
</filter>

<match radius.var.log.radius.*.log>
   @type copy
   <store>
      @type amqp
      key ticketing.radius
      exchange ticketing
      hosts [{% set comma = joiner(",") %}{% for host in groups['lcm_rabbitmq_hosts'] %}{{ comma() }}"{{ hostvars[host]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}"{% endfor %}]
      port 5672
      durable true
      vhost /
      user admin
      pass admin
      content_type application/json
   </store>
   <store>
      @type amqp
      key fluentd
      exchange platform.E.Direct.logging
      hosts [{% set comma = joiner(",") %}{% for host in groups['lcm_rabbitmq_hosts'] %}{{ comma() }}"{{ hostvars[host]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}"{% endfor %}]
      port 5672
      durable true
      vhost /
      user admin
      pass admin
      content_type application/json
   </store>
  #  <store>
  #    @type stdout
  #  </store>
</match>

# Capture all unmatched tags. Good :)

#<match **>
#   @type stdout
#</match>