# {{ ansible_managed }}

[Service]
{% if docker_http_proxy != '' %}
Environment=HTTP_PROXY={{ docker_http_proxy }}
{% endif -%}
{% if docker_https_proxy != '' %}
Environment=HTTPS_PROXY={{ docker_https_proxy }}
{% endif -%}
{% if docker_no_proxy != '' %}
Environment=NO_PROXY={{ docker_no_proxy }}
{% endif %}

[Unit]
Wants=iptables.service
After=iptables.service

# The following line is a work-around to ensure docker is restarted whenever
# iptables is restarted.  This ensures the proper iptables rules will be in
# place for docker.
# Note:  This will also cause docker to be stopped if iptables is stopped.
PartOf=iptables.service
