<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="105">
  <server artifactsdir="artifacts" agentAutoRegisterKey="de846da6-a5fb-44b7-8d63-9131e546b011" webhookSecret="67aff273-83b0-4003-93d4-d80c756a647b" commandRepositoryLocation="default" serverId="dd6840dc-f158-45ff-82f1-172d81600d95" tokenGenerationKey="c812f62f-f812-4d42-89f1-75e37e90a736">
    <security>
      <authConfigs>
        <authConfig id="local-ldap" pluginId="cd.go.authentication.ldap">
          <property>
            <key>Url</key>
            <value>ldap://192.168.77.20</value>
          </property>
          <property>
            <key>SearchBases</key>
            <value>ou=users,dc=linkycom,dc=local</value>
          </property>
          <property>
            <key>ManagerDN</key>
            <value>cn=admin,dc=linkycom,dc=local</value>
          </property>
          <property>
            <key>Password</key>
            <encryptedValue>rFvEj5gKFVigwTh6N/slqw==</encryptedValue>
          </property>
          <property>
            <key>UserSearchFilter</key>
            <value>(uid={0})</value>
          </property>
          <property>
            <key>UserLoginFilter</key>
            <value>(uid=*{0}*)</value>
          </property>
          <property>
            <key>DisplayNameAttribute</key>
            <value>cn</value>
          </property>
          <property>
            <key>EmailAttribute</key>
            <value>mail</value>
          </property>
        </authConfig>
      </authConfigs>
      <roles>
        <role name="admins">
          <users>
            <user>rouattara</user>
          </users>
        </role>
        <role name="view-only">
          <users>
            <user>amalick</user>
            <user>nsevenier</user>
          </users>
        </role>
        <role name="po">
          <users>
            <user>amalick</user>
          </users>
        </role>
        <role name="rec">
          <users>
            <user>nsevenier</user>
          </users>
        </role>
        <role name="dev">
          <users>
            <user>rouattara</user>
            <user>nbrouand</user>
          </users>
        </role>
      </roles>
      <admins>
        <user>rouattara</user>
      </admins>
    </security>
    <mailhost hostname="ssl0.ovh.net" port="587" username="alerting-osocloud@yacra.fr" encryptedPassword="xEg78c4BEI0CdDju52LWoQ==" tls="false" from="gocd@linkycom.local" admin="ouattchidi@gmail.com" />
  </server>
  <pipelines group="lcm-app">
    <pipeline name="dummy-boot-app" template="maven-based-app-template">
      <params>
        <param name="docker_image_artifact_id">dummy-boot-app</param>
      </params>
      <materials>
        <git url="https://gitlab.com/chidisandbox/dummy-boot-app.git" />
      </materials>
    </pipeline>
  </pipelines>
  <pipelines group="lcm-deploy" />
  <pipelines group="lcm-ansible">
    <authorization>
      <view>
        <role>dev</role>
        <role>view-only</role>
        <role>po</role>
        <role>rec</role>
        <role>admins</role>
      </view>
      <operate>
        <role>dev</role>
        <role>po</role>
      </operate>
      <admins>
        <role>dev</role>
        <role>admins</role>
      </admins>
    </authorization>
    <pipeline name="role-springboot-service" template="ansible-molecule-role-template">
      <materials>
        <git url="https://github.com/orachide/ansible-role-springboot.git" dest="ansible-role-springboot" materialName="ansible-role-springboot" />
      </materials>
    </pipeline>
  </pipelines>
  <pipelines group="lcm-ats">
    <pipeline name="ats-devcom1" template="acceptance-tests-template">
      <params>
        <param name="at-test-env">default</param>
      </params>
      <materials>
        <git url="https://gitlab.com/chidisandbox/acceptance-tests.git" />
        <pipeline pipelineName="dummy-boot-app" stageName="Deploy-Artifacts" materialName="dummy-boot-app" />
      </materials>
    </pipeline>
  </pipelines>
  <templates>
    <pipeline name="maven-based-app-template">
      <stage name="Build" cleanWorkingDir="true">
        <jobs>
          <job name="package">
            <tasks>
              <exec command="mvn">
                <arg>-B</arg>
                <arg>-s</arg>
                <arg>.m2/settings.xml</arg>
                <arg>clean</arg>
                <arg>package</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <resources>
              <resource>maven</resource>
            </resources>
            <artifacts>
              <artifact src="target/*.jar" />
            </artifacts>
          </job>
        </jobs>
      </stage>
      <stage name="Deploy-Artifacts">
        <jobs>
          <job name="Nexus">
            <tasks>
              <exec command="echo">
                <arg>"Deploying to nexus"</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <resources>
              <resource>maven</resource>
            </resources>
          </job>
          <job name="Docker">
            <tasks>
              <exec command="docker">
                <arg>build</arg>
                <arg>--no-cache</arg>
                <arg>--tag</arg>
                <arg>localhost:5000/linkycom/#{docker_image_artifact_id}:latest</arg>
                <arg>--file</arg>
                <arg>Dockerfile</arg>
                <arg>.</arg>
                <runif status="passed" />
              </exec>
              <exec command="docker">
                <arg>push</arg>
                <arg>localhost:5000/linkycom/#{docker_image_artifact_id}:latest</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <resources>
              <resource>docker</resource>
            </resources>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="ansible-molecule-role-template">
      <authorization>
        <admins>
          <user>rouattara</user>
        </admins>
      </authorization>
      <stage name="Test">
        <jobs>
          <job name="molecule-test-all">
            <tasks>
              <exec command="molecule" workingdir="ansible-role-springboot">
                <arg>test</arg>
                <arg>--all</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <resources>
              <resource>molecule</resource>
            </resources>
          </job>
        </jobs>
      </stage>
      <stage name="Release">
        <jobs>
          <job name="role-release">
            <tasks>
              <exec command="echo">
                <arg>"Release done!"</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="acceptance-tests-template">
      <authorization>
        <admins>
          <user>rouattara</user>
        </admins>
      </authorization>
      <stage name="integration-test">
        <jobs>
          <job name="execute-tests">
            <tasks>
              <exec command="mvn">
                <arg>clean</arg>
                <arg>integration-test</arg>
                <arg>-Denv=#{at-test-env}</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <tabs>
              <tab name="Gauge" path="gauge-report/html-report/index.html" />
            </tabs>
            <artifacts>
              <test src="target/gauge-reports/html-report" dest="gauge-report" />
            </artifacts>
          </job>
          <job name="generate-docs">
            <tasks>
              <exec command="gauge">
                <arg>docs</arg>
                <arg>spectacle</arg>
                <arg>specs</arg>
              </exec>
            </tasks>
            <tabs>
              <tab name="GaugeDocs" path="gauge-docs/html/index.html" />
            </tabs>
            <artifacts>
              <artifact src="docs/html" dest="gauge-docs" />
            </artifacts>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </templates>
  <environments>
    <environment name="RHIN">
      <agents>
        <physical uuid="77b303b2-7642-4b04-8d58-86f4c20432c4" />
      </agents>
      <pipelines>
        <pipeline name="dummy-boot-app" />
        <pipeline name="role-springboot-service" />
      </pipelines>
    </environment>
    <environment name="DEVCOM1">
      <agents>
        <physical uuid="77b303b2-7642-4b04-8d58-86f4c20432c4" />
      </agents>
      <pipelines>
        <pipeline name="ats-devcom1" />
      </pipelines>
    </environment>
    <environment name="DEVCOM2">
      <agents>
        <physical uuid="77b303b2-7642-4b04-8d58-86f4c20432c4" />
      </agents>
    </environment>
    <environment name="RECCOM3">
      <agents>
        <physical uuid="77b303b2-7642-4b04-8d58-86f4c20432c4" />
      </agents>
    </environment>
    <environment name="RECCOM6">
      <agents>
        <physical uuid="77b303b2-7642-4b04-8d58-86f4c20432c4" />
      </agents>
    </environment>
  </environments>
  <agents>
    <agent hostname="lcm-ops-box.linkycom.local" ipaddress="127.0.0.1" uuid="77b303b2-7642-4b04-8d58-86f4c20432c4">
      <resources>
        <resource>maven</resource>
        <resource>docker</resource>
        <resource>molecule</resource>
      </resources>
    </agent>
  </agents>
</cruise>
