# {{ansible_managed}}
version: "{{ docker_compose_version }}"

# networks
networks:
  # monitoring overlay: all monitoring containers runs in this overlay, some of them also run into the Traefik one
  overlay_network:
    driver: overlay
  # overlay where Traefik run where to put services that are exposed to the internet
  {{ docker_router_network_name }}:
    external: true

# configs
configs:
  grafana.ini:
    file: "{{ monitoring_local_deploy_dir }}/grafana.ini"
  grafana-ldap.toml:
    file: "{{ monitoring_local_deploy_dir }}/ldap.toml"
  alert.rules.yml:
    file: "{{ monitoring_local_deploy_dir }}/alert.rules.yml"
  prometheus.yml:
    file: "{{ monitoring_local_deploy_dir }}/prometheus.yml"
  alertmanager.yml:
    file: "{{ monitoring_local_deploy_dir }}/alertmanager.yml"

{% if use_docker_volume %}
# volume
volumes:
  {{ prometheus_volume_name }}:
    external: true
  {{ alertmanager_volume_name }}:
    external: true
  {{ grafana_volume_name }}:
    external: true

{% endif %}

services:
  # prometheus service
  {{ prometheus_service_name }}:
    image: {{ prometheus_service_image }}
    volumes:
      - {% if use_docker_volume  %} {{ prometheus_volume_name }}:/prometheus {% else %} {{ gluster_mount_dir }}/{{ prometheus_volume_name }}:/prometheus {% endif %}

    command: >
      --config.file=/etc/prometheus/prometheus.yml
      --web.console.templates=/usr/share/prometheus/consoles
      --web.console.libraries=/usr/share/prometheus/console_libraries
      --storage.tsdb.path=/prometheus
      --storage.tsdb.retention={{ prometheus_data_rentention }}
      --web.enable-lifecycle
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.backend={{ prometheus_service_name }}"
        - "traefik.docker.network={{ docker_router_network_name }}"
        - "traefik.{{ prometheus_service_name }}.port=9090"
        - "traefik.frontend.rule=Host:{{ prometheus_service_name }}.{{ lcm_router_domain_name }}"
    environment:
      - "SERVICE_9090_IGNORE=true" # disable Registrator discovery
    depends_on:
      - {{ alert_manager_service_name}}
      - {{ node_exporter_service_name}}
    #depends_on:
    #  - cadvisor
    #  - alertmanager
    #  - node-exporter
    #  - docker-exporter
    networks:
      - overlay_network
      - {{ docker_router_network_name }}
    configs:
      - source: alert.rules.yml
        target: /etc/prometheus/alert.rules.yml
      - source: prometheus.yml
        target: /etc/prometheus/prometheus.yml

  # alertmanager service
  {{ alert_manager_service_name}}: 
    image: {{ alert_manager_service_image }}
    volumes:
      - {% if use_docker_volume  %} {{ alertmanager_volume_name }}:/alertmanager {% else %} {{ gluster_mount_dir }}/{{ alertmanager_volume_name }}:/alertmanager {% endif %}

    networks:
      - overlay_network
      # needs a connection into the Traefik overlay to be accessed from the outside
      - {{ docker_router_network_name }}
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--web.external-url=http://alertmanager.linkycom.local'
    environment:
      - "SERVICE_9093_IGNORE=true" # disable Registrator discovery
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.{{ alert_manager_service_name }}.port=9093"
        - "traefik.backend={{ alert_manager_service_name }}"
        - "traefik.frontend.rule=Host:{{ alert_manager_service_name }}.{{ lcm_router_domain_name }}"
        - "traefik.docker.network={{ docker_router_network_name }}"
    #depends_on:
    #  - fregate
    networks:
      - overlay_network
      # needs a connection into the Traefik overlay to be accessed from the outside
      - {{ docker_router_network_name }}
    configs:
      - source: alertmanager.yml
        target: /etc/alertmanager/config.yml

  # grafana service
  {{ grafana_service_name }}:
    image: {{ grafana_service_image }}
    volumes:
      - {% if use_docker_volume  %} {{ grafana_volume_name }}:/var/lib/grafana {% else %} {{ gluster_mount_dir }}/{{ grafana_volume_name }}:/var/lib/grafana {% endif %}
      
    depends_on:
      - {{ prometheus_service_name }}
    environment:
      - "GF_PATHS_CONFIG=/grafana.ini"
      - "GF_SERVER_ROOT_URL=https://{{ grafana_service_name }}.{{ lcm_router_domain_name }}" 
      - "SERVICE_3000_IGNORE=true" # disable Registrator discovery
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.{{ grafana_service_name }}.port=3000"
        - "traefik.backend={{ grafana_service_name }}"
        - "traefik.frontend.rule=Host:{{ grafana_service_name }}.{{ lcm_router_domain_name }}"
        - "traefik.docker.network={{ docker_router_network_name }}"
    networks:
      - overlay_network 
      # needs a connection into the Traefik overlay to be accessed from the outside
      - {{ docker_router_network_name }}
    configs:
      - grafana.ini
      - source: grafana-ldap.toml
        target: /etc/grafana/ldap.toml

  # cadvisor global service
  {{ cadvisor_service_name}}:
    image: {{ cadvisor_service_image }}
    hostname: {% raw %}'{{.Node.Hostname}}'{% endraw %}
    
    #command: -logtostderr -docker_only -storage_driver=influxdb -storage_driver_db=cadvisor -storage_driver_host=influx:8086
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      mode: global
      resources:
        limits:
          memory: 80M
      labels:
        - "traefik.enable=false"
    environment:
      - "SERVICE_8080_IGNORE=true" # disable Registrator discovery
    networks:
      - overlay_network

  # node-exporter
  {{ node_exporter_service_name}}:
    image: {{ node_exporter_service_image }}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: '-collector.procfs=/host/proc -collector.sysfs=/host/sys -collector.filesystem.ignored-mount-points="^(/rootfs|/host|)/(sys|proc|dev|host|etc)($$|/)" collector.filesystem.ignored-fs-types="^(sys|proc|auto|cgroup|devpts|ns|au|fuse\.lxc|mqueue)(fs|)$$"'
    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.10'
          memory: 32M
      labels:
        - "traefik.enable=false"
    hostname: {% raw %}'{{.Node.Hostname}}'{% endraw %}

    environment:
      #HOST_HOSTNAME: /etc/host_hostname
      - "HOST_HOSTNAME=/etc/hostname"
      - "SERVICE_9100_IGNORE=true"
    networks:
      - overlay_network
  
  # Rabbitmq exporter
  {{ rabbitmq_exporter_service_name}}:
    image: {{ rabbitmq_exporter_service_image }}
    environment:
      SERVICE_9090_IGNORE: 'true'
      RABBIT_URL: "http://{{ hostvars[groups.lcm_rabbitmq_master.0]['ansible_' + consul_bind_interface ]['ipv4']['address'] }}:15672"
      RABBIT_USER: admin
      RABBIT_PASSWORD: admin
      RABBIT_EXPORTERS: 'exchange,node,overview,queue,connections'
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=false"
      placement:
        constraints:
          - node.role == manager
    networks:
      - overlay_network
