# {{ansible_managed}}
version: "{{ docker_compose_version }}"

networks:
  {{ docker_router_network_name }}:
    external: true

configs:
  traefik.toml:
    file: "{{ traefik_local_deploy_dir }}/traefik.toml"

services:
  {{ traefik_service_name }}:
    image: {{ traefik_service_image }}
    command: --docker --docker.swarmmode --docker.domain={{ traefik_docker_domain }} --docker.watch --web --web.metrics.prometheus
    deploy:
      placement:
        constraints: [ node.hostname == lcm-node-1.linkycom.local ]
    # docker in docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 80:80
      - 8080:8080
    environment:
      - "SERVICE_80_IGNORE=true" # disable Registrator discovery
      - "SERVICE_8080_IGNORE=true" # disable Registrator discovery
    networks:
      - {{ docker_router_network_name }}
    configs:
      - source: traefik.toml
        target: /etc/traefik/traefik.toml